.task {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  line-height: 2.5rem;
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid var(--gray-500);
  background: var(--gray-400);
}

.task input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid var(--blue);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 1rem;
}

.task input[type=checkbox]:hover {
  border: 2px solid var(--blue-dark);
}

.task input[type=checkbox]:checked {
  width: --webkit-fill-available;
  background-color: var(--purple-dark);
  border: 2px solid var(--purple-dark);
}

.task input[type=checkbox]:checked:hover {
  background-color: var(--purple);
  border: 2px solid var(--purple);
}

.task input[type=checkbox]:checked::before {
  content: "\2713";
  margin-left: 0.35rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--gray-100);
}
.task input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: var(--gray-300);
}

.task label {
  display: flex;
  align-items: flex-start;
  margin-top: -0.75rem;
}

.task svg {
  margin-left: 1rem;
}
.task svg:hover {
  color: var(--danger);
  background-color: var(--gray-300);
}

.checkText{
  display: flex;
}

